.form-wrapper{
  min-height: 92vh;
  margin: 0 ;
  .form__title{
    font-size: 18px;
    padding: 150px 30px 0;
    line-height: 100%;
    .name{
      line-height: 100%;
      font-size: 36px;
    }
  }
  .form-block{
    margin: 20px;
    border-radius: 30px;
    border: 1px solid #000;
  }
  .form-lines{
    top:auto;
    bottom:20px;
    z-index: -1;
  }
  .button{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    .button__text{
      padding: 10px 0;
      font-size: 14px;
      line-height: 90%;
      width: 110px;
      text-align: left;
    }
    .strava__logo{
      height: 40px;
    }
  }
}